<br>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-outline-success" routerLink="">Student-list</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="employee">employee List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="fruit-list">Fruit List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="course-list">Course List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="book-list">Book List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="city-list">City List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="movie-list">Movie List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="car-model-list">Car Model List </button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="product-list">Product List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="subject-list">Subject List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="country-list">Country List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="sports-list">Sports List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="vegetable-list">Vegetable List</button>&nbsp;<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="animal-list">Animal List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="tool-list">Tool List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="language-list">Language List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="game-list">Game List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="software-list">Software List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="phone-contact-list">Phone Contact List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="music-playlist">Music Playlist</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="food-menu">Food Menu</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="grocery-list">Grocery List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="classroom-list">Classroom List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="inventory-list">Inventory List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="lecture-list">Lecture List</button>&nbsp;<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="stationery-list">Stationery List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="flower-list">Flower List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="destination-list">Destination List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="laptop-list">Laptop List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="laptop-specification-list">Laptop Specifications List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="computer-hardware-list">Computer Hardware List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="mobile-app-list">Mobile App List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="video-list">Video List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="tv-show-list">TV Show List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="furniture-list">Furniture List</button>&nbsp;<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="accessory-list">Accessory List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="building-list">Building List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="painting-list">Painting List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="artist-list">Artist List </button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="composer-list">Composer List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="podcast-list">Podcast List </button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="exercise-list">Exercise List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="meal-plan-list">Meal Plan List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="budget-list">Budget List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="presentation-list">Presentation List</button>&nbsp;<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="tour-list">Tour List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="event-list">Event List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="development-tools-list">Developer Tools Lis</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="framework-list">Framework List</button>&nbsp;
<button type="button" class="btn btn-outline-success" routerLink="library-list">Library List</button>

<router-outlet></router-outlet> 